<a href="https://colab.research.google.com/github/thfruchart/1nsi/blob/main/05/Tableaux_COMPREHENSION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[ouvrir avec Basthon](https://notebook.basthon.fr/?from=https://raw.githubusercontent.com/thfruchart/1nsi/main/05/Tableaux_COMPREHENSION.ipynb)

# Tableaux définis par compréhension

## Observer les exemples suivants

In [ ]:
[ 0 for i in range(5) ]

In [ ]:
[ 'False'  for k in range(4) ]

In [ ]:
tab = [1,3,5,7,9]
[ x*10 for x in tab]

## Syntaxe 

Un tableau est défini par compréhension à l'aide d'une syntaxe de la forme : 

 **[ *expression* for variable in *iterable* ]**

In [ ]:
# Exemple 
[ 2*i+1  for i in range(3)]

* POUR chaque valeur de la variable `i` (0 puis 1 puis 2)
* une nouvelle cellule est ajoutée dans le tableau
* la valeur inscrite dans la cellule est fournie par l'expression `2*i + 1`

## Syntaxe avec condition

On peut ajouter une condition pour définir un tableau  par compréhension à l'aide d'une syntaxe de la forme : 

 [ *expression* for variable in *iterable*  **if _condition_**]

In [ ]:
# Exemple 
[ i*i  for i in range(10)  if i%2 == 0 ]

* POUR chaque valeur de la variable `i` (0 puis 1 puis 2... jusqu'à 9 inclus)
* **la condition `i%2 == 0` est testée** (le reste de la division par 2 vaut 0 lorsque i est **pair**) 
  * si cette condition est évaluée à **True**,  alors une nouvelle cellule est ajoutée dans le tableau
  * sinon aucune valeur n'est ajoutée dans le tableau
* la valeur inscrite dans la cellule est fournie par l'expression `i*i`

# Travail personnel 1

Observer les exemples ci-dessous :
* AVANT d'exécuter chaque cellule : 
  * essayer de prévoir quel sera l'affichage obtenu
* Vérifier ensuite en exécutant la cellule

In [ ]:
[ i+5  for i in range(4) ]

In [ ]:
[ i*3 for i in range (1,5) ]

In [ ]:
[ i**2  for i in range (6) ]

In [ ]:
[ 'A'*i  for i in range(5) ]

In [ ]:
t1 = [ 'A', 'B', 'C']

[ x*2  for x in t1 ]

In [ ]:
t2 = [10, 20, 30, 40]

[ v // 10  for v in t2 ]

# Exercice 1

Compléter le code de chaque cellule pour obtenir le résultat demandé

In [ ]:
# résultat souhaité :  [ 0, 0, 0, 0 ]
[ ... for i in range(...) ]

In [ ]:
# résultat souhaité : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[ ... for i in range(...) ]

In [ ]:
# résultat souhaité : [0, 10, 20, 30, 40, 50]

n = ... 

[ ... for k in range(n) ]

In [ ]:
# résultat souhaité : ['A', 'AA', 'AAA', 'AAAA', 'AAAAA' ]

n = ... 

[ ... for k in range(1, n) ]

In [ ]:
# résultat souhaité : [0, 1, 2, 0, 1, 2, 0, 1, 2]
[ ... for n in range(9) ]

# Travail personnel 2 

Observer les exemples ci-dessous :
* AVANT d'exécuter chaque cellule : 
  * essayer de prévoir quel sera l'affichage obtenu
* Vérifier ensuite en exécutant la cellule

In [ ]:
temperatures = [ -5, 12, -8, 13, -2, 4, 0]

[ x for x in temperatures if x<=0 ]

In [ ]:
notes =   [ 8.5 , 12.5, 13 ,  7.5, 20, 5.5]

[ n for n in notes if n > 10 ]

# Exercice 2

Compléter le code de chaque cellule pour obtenir le résultat demandé

In [ ]:
# résultat souhaité :  [0,1,2,3,4,10,11,12 ]
[ i for i in range(13) if ... or ... ]

In [ ]:
# résultat souhaité : ['Dana', 'Eliane', 'Charlie', 'Bob']
prenoms = ['Dana','George','Alice','Eliane','Flore','Charlie','Bob']
[...  for x in prenoms if ...  and ...  ]

In [ ]:
# résultat souhaité : ['TP', 'DS']

eval = [ ('IE1', 15), ('DM', 18), ('TP', 8), ('DS', 9.5), ('QCM', 15)] 

[ ... for e in eval if ... < 10 ]