<a href="https://colab.research.google.com/github/thfruchart/1nsi/blob/main/05/Tableaux_COMPREHENSION_CORRECTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[ouvrir avec Basthon](https://notebook.basthon.fr/?from=https://raw.githubusercontent.com/thfruchart/1nsi/main/05/Tableaux_COMPREHENSION.ipynb)

# Tableaux définis par compréhension

## Observer les exemples suivants

In [20]:
[ 0 for i in range(5) ]

[0, 0, 0, 0, 0]

In [21]:
[ 'False'  for k in range(4) ]

['False', 'False', 'False', 'False']

In [22]:
tab = [1,3,5,7,9]
[ x*10 for x in tab]

[10, 30, 50, 70, 90]

## Syntaxe 

Un tableau est défini par compréhension à l'aide d'une syntaxe de la forme : 

 **[ *expression* for variable in *iterable* ]**

In [23]:
# Exemple 
[ 2*i+1  for i in range(3)]

[1, 3, 5]

* POUR chaque valeur de la variable `i` (0 puis 1 puis 2)
* une nouvelle cellule est ajoutée dans le tableau
* la valeur inscrite dans la cellule est fournie par l'expression `2*i + 1`

## Syntaxe avec condition

On peut ajouter une condition pour définir un tableau  par compréhension à l'aide d'une syntaxe de la forme : 

 [ *expression* for variable in *iterable*  **if _condition_**]

In [24]:
# Exemple 
[ i*i  for i in range(10)  if i%2 == 0 ]

[0, 4, 16, 36, 64]

* POUR chaque valeur de la variable `i` (0 puis 1 puis 2... jusqu'à 9 inclus)
* **la condition `i%2 == 0` est testée** (le reste de la division par 2 vaut 0 lorsque i est **pair**) 
  * si cette condition est évaluée à **True**,  alors une nouvelle cellule est ajoutée dans le tableau
  * sinon aucune valeur n'est ajoutée dans le tableau
* la valeur inscrite dans la cellule est fournie par l'expression `i*i`

# Travail personnel 1

Observer les exemples ci-dessous :
* AVANT d'exécuter chaque cellule : 
  * essayer de prévoir quel sera l'affichage obtenu
* Vérifier ensuite en exécutant la cellule

In [25]:
[ i+5  for i in range(4) ]

[5, 6, 7, 8]

In [26]:
[ i*3 for i in range (1,5) ]

[3, 6, 9, 12]

In [27]:
[ i**2  for i in range (6) ]

[0, 1, 4, 9, 16, 25]

In [28]:
[ 'A'*i  for i in range(5) ]

['', 'A', 'AA', 'AAA', 'AAAA']

In [29]:
t1 = [ 'A', 'B', 'C']

[ x*2  for x in t1 ]

['AA', 'BB', 'CC']

In [30]:
t2 = [10, 20, 30, 40]

[ v // 10  for v in t2 ]

[1, 2, 3, 4]

# Exercice 1

Compléter le code de chaque cellule pour obtenir le résultat demandé

In [32]:
# résultat souhaité :  [ 0, 0, 0, 0 ]
[ 0 for i in range(4) ]

[0, 0, 0, 0]

In [34]:
# résultat souhaité : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[ i for i in range(11) ]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
# résultat souhaité : [0, 10, 20, 30, 40, 50]

n = 6 

[ k*10 for k in range(n) ]

[0, 10, 20, 30, 40, 50]

In [36]:
# résultat souhaité : ['A', 'AA', 'AAA', 'AAAA', 'AAAAA' ]

n = 6 

[ 'A'*k for k in range(1, n) ]

['A', 'AA', 'AAA', 'AAAA', 'AAAAA']

In [37]:
# résultat souhaité : [0, 1, 2, 0, 1, 2, 0, 1, 2]
[ n%3 for n in range(9) ]

[0, 1, 2, 0, 1, 2, 0, 1, 2]

# Travail personnel 2 

Observer les exemples ci-dessous :
* AVANT d'exécuter chaque cellule : 
  * essayer de prévoir quel sera l'affichage obtenu
* Vérifier ensuite en exécutant la cellule

In [38]:
temperatures = [ -5, 12, -8, 13, -2, 4, 0]

[ x for x in temperatures if x<=0 ]

[-5, -8, -2, 0]

In [39]:
notes =   [ 8.5 , 12.5, 13 ,  7.5, 20, 5.5]

[ n for n in notes if n > 10 ]

[12.5, 13, 20]

# Exercice 2

Compléter le code de chaque cellule pour obtenir le résultat demandé

In [40]:
# résultat souhaité :  [0,1,2,3,4,10,11,12 ]
[ i for i in range(13) if i<5 or  i >9]

[0, 1, 2, 3, 4, 10, 11, 12]

In [41]:
# résultat souhaité : ['Dana', 'Eliane', 'Charlie', 'Bob']
prenoms = ['Dana','George','Alice','Eliane','Flore','Charlie','Bob']
[x  for x in prenoms if x>'B' and x<'F'  ]

['Dana', 'Eliane', 'Charlie', 'Bob']

In [42]:
# résultat souhaité : ['TP', 'DS']

eval = [ ('IE1', 15), ('DM', 18), ('TP', 8), ('DS', 9.5), ('QCM', 15)] 

[ e[0] for e in eval if e[1] < 10 ]

['TP', 'DS']