<a href="https://colab.research.google.com/github/thfruchart/1nsi/blob/main/S3/Exercices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercice 1

In [ ]:
# exécuter la cellule avant de traiter l'exercice
t = ['bleu', 'vert', 'orange', 'maron', 'jaune']

1) on souhaite corriger l'erreur d'orthographe 'ma**rr**on' et non 'maron'

Ecrire dans la cellule suivant l'instruction convenable :

In [ ]:
# instruction à compléter
t[]

Puis tester en affichant le tableau

In [ ]:
print(t)

2) Compléter le code suivant pour qu'il affiche toutes les couleurs inscrites dans t

In [ ]:
for i in range(...) : 
    print( ... )

# Exercice 2

In [ ]:
# exécuter la cellule avant de traiter l'exercice
tab = [10,20,30,40,50]

Compléter le code suivant, pour qu'il **ajoute 1**  à chaque valeur contenue dans le tableau t.

In [ ]:
for i in range( ... ) : 
    tab[]...

Vérifier en affichant le tableau : on doit obtenir [11,21,31,41,51]

In [ ]:
print(tab)

# Exercice 3

On souhaite définir un tableau de longueur 21 contenant les entiers de 0 à 20.

Plutôt que de saisir toutes ces valeurs à la main, on propose d'utiliser une boucle.

Compléter le code suivant pour réaliser l'objectif ci-dessus.

In [ ]:
# Exécuter cette cellule AVANT de traiter l'exercice
t = [0] * 21
print(t)

In [ ]:
# compléter le code
for i in range(...):
    t[]

# Exercice 4

En vous inspirant de l'exercice 3, écrire dans un tableau de longueur 100 tous le multiples de 5, compris entre 5 et 500