<a href="https://colab.research.google.com/github/thfruchart/1nsi/blob/main/S3/Exercices_CORR1.2.3.4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercice 1

In [1]:
# exécuter la cellule avant de traiter l'exercice
t = ['bleu', 'vert', 'orange', 'maron', 'jaune']

1) on souhaite corriger l'erreur d'orthographe 'ma**rr**on' et non 'maron'

Ecrire dans la cellule suivant l'instruction convenable :

In [2]:
# instruction à compléter
t[3] = 'marron'

Puis tester en affichant le tableau

In [3]:
print(t)

['bleu', 'vert', 'orange', 'marron', 'jaune']

2) Compléter le code suivant pour qu'il affiche toutes les couleurs inscrites dans t

In [5]:
for i in range(5) : # on peut aussi écrire for i in range(len(t))
    print(t[i] )

bleu
vert
orange
marron
jaune

# Exercice 2

In [12]:
# exécuter la cellule avant de traiter l'exercice
tab = [10,20,30,40,50]

Compléter le code suivant, pour qu'il **ajoute 1**  à chaque valeur contenue dans le tableau t.

In [13]:
for i in range( len(tab) ) :  # ou éventuellement range(5)
    tab[i] += 1 # ou tab[i]=  tab[i] +1

Vérifier en affichant le tableau : on doit obtenir [11,21,31,41,51]

In [14]:
print(tab)

[11, 21, 31, 41, 51]

# Exercice 3

On souhaite définir un tableau de longueur 21 contenant les entiers de 0 à 20.

Plutôt que de saisir toutes ces valeurs à la main, on propose d'utiliser une boucle.

Compléter le code suivant pour réaliser l'objectif ci-dessus.

In [15]:
# Exécuter cette cellule AVANT de traiter l'exercice
t = [0] * 21
print(t)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

On souhaite écrire dans chaque cellule du tableau : on pourrait faire une vingtaine d'instructions

    t[1] = 1
    t[2] = 2
    t[3] = 3
    ...
    t[20] = 20

on préfère utiliser une boucle où une VARIABLE i prend successivement les valeurs entières jusquà 20

In [16]:
# compléter le code
for i in range( 21 ):
    t[i] =  i # on écrit dans la cellule d'index i, la valeur i !

pour vérifier, on fait afficher le tableau.

In [17]:
print(t)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# Exercice 4

En vous inspirant de l'exercice 3, écrire dans un tableau de longueur 100 tous le multiples de 5, compris entre 5 et 500

In [20]:
t = [0] * 100
for i in range( 100 ):
    t[i] =  (i+1)*5

In [21]:
print(t)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500]

Autre solution

In [26]:
t = [5] * 100

for i in range(1, len(t) ):
    t[i] =t[i-1] + 5

In [27]:
 print(t)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500]