<a href="https://colab.research.google.com/github/thfruchart/1nsi/blob/main/S3/Exercices_CORR.1.2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercice 1

In [1]:
# exécuter la cellule avant de traiter l'exercice
t = ['bleu', 'vert', 'orange', 'maron', 'jaune']

1) on souhaite corriger l'erreur d'orthographe 'ma**rr**on' et non 'maron'

Ecrire dans la cellule suivant l'instruction convenable :

In [2]:
# instruction à compléter
t[3] = 'marron'

Puis tester en affichant le tableau

In [3]:
print(t)

['bleu', 'vert', 'orange', 'marron', 'jaune']

2) Compléter le code suivant pour qu'il affiche toutes les couleurs inscrites dans t

In [5]:
for i in range(5) : # on peut aussi écrire for i in range(len(t))
    print(t[i] )

bleu
vert
orange
marron
jaune

# Exercice 2

In [12]:
# exécuter la cellule avant de traiter l'exercice
tab = [10,20,30,40,50]

Compléter le code suivant, pour qu'il **ajoute 1**  à chaque valeur contenue dans le tableau t.

In [13]:
for i in range( len(tab) ) :  # ou éventuellement range(5)
    tab[i] += 1 # ou tab[i]=  tab[i] +1

Vérifier en affichant le tableau : on doit obtenir [11,21,31,41,51]

In [14]:
print(tab)

[11, 21, 31, 41, 51]

# Exercice 3

On souhaite définir un tableau de longueur 21 contenant les entiers de 0 à 20.

Plutôt que de saisir toutes ces valeurs à la main, on propose d'utiliser une boucle.

Compléter le code suivant pour réaliser l'objectif ci-dessus.

In [ ]:
# Exécuter cette cellule AVANT de traiter l'exercice
t = [0] * 21
print(t)

In [ ]:
# compléter le code
for i in range(...):
    t[]

# Exercice 4

En vous inspirant de l'exercice 3, écrire dans un tableau de longueur 100 tous le multiples de 5, compris entre 5 et 500